.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  display: flex;
  flex-direction: row;
}

.basket-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.items-column{
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-lefT: 50px;
}

.item-row{
  padding: 5px;
  background-color: lightgray; 
  margin-bottom: 15px;
  padding-left: 10px;
  border-radius: 4px;
  list-style: none;
}

.minus{
  font-weight: 900;
  margin-right: 15px;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
}

.minus:hover{
  background-color: red;
  border-color: red;
}

.plus{
  font-weight: 900;
  margin-right: 15px;
  color: white;
  border: 2px solid white;
  border-radius: 4px;
}

.plus:hover{
  background-color: green;
  border-color: green;
}

.none{
  display: none;
}

.crossed{
  text-decoration: line-through;
}